  /* Set the body and html to height 100% to allow our container to be full height */
  html, body {
    height: 100%;
    margin: 0;
    padding: 0;
  }

  /* loading animation */
  @keyframes spin {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
  
  .loading {
    border: 4px solid #eeeeee;
    border-top: 4px solid hsl(120, 100%, 30%);
    border-radius: 50%;
    width: 20px;
    height: 20px;
    animation: spin 2s linear infinite;
    visibility: hidden;
  }
  
  .loading.display {
    visibility: visible;
  }
  

  /* Set our container to display flex which will help in alignment */
  .full-screen-container {
    display: flex;
    flex-direction: column;
    height: 100%;
  }

  /* Header and footer */
  header, footer {
    text-align: center;
  }

  header {
    border-bottom: solid 1px rgba(0, 0, 0, 0.2);
    padding-bottom: 10px;
  }

  footer {
    border-top: solid 1px rgba(0, 0, 0, 0.2);
    font-size: 0.8em;
    height: 2em;
  }

  /* info box */
  .info-box {
    text-align: center;
    width: 100%;
    font-size: 0.8em;
  }

  /* main content */
  .content {
    flex: 1; /* Flex value 1 will make it take the available space between header and footer */
    overflow-y: auto; /* Adds scroll to the content div if content overflows */
    padding: 10px;
  }

  .chat-container {
    height: 100%;
    padding: 20px;
    border: 1px solid #eeeeee;
    background-color: rgb(245, 245, 245);
    border-radius: 5px;
    padding-bottom: 70px;
  }

  /* chat box */
  .chat-box {
    display: flex;
    flex-direction: column-reverse;
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 10px;
    height: 100%;
    overflow-y: scroll;
    overflow-x: hidden;
    border-radius: 10px;
  }
  
  /* messages */
  .message-box .bot,.user {
    display: flex;
    margin-bottom: 10px;
  }

  .message-box.bot {
    align-self: flex-start;
  }
  
  .message-box.user {
    align-self: flex-end;
  }
  
  .message-box .sources {
    font-size: 0.7em;
    margin-left: 40px;
  }
  
  /* profile pictures */
  .profile-pic {
    margin-top: 10px;
    width: 30px;
    height: 30px;
    min-width: 30px;
    min-height: 30px;
    border-radius: 100%;
  }
  
  .bot .profile-pic {
    background-image: url('favicon.png');
    background-size: cover;
    margin-right: 10px;
  }
  
  .user .profile-pic {
    background-color: #5c9ee4; /* change color as needed */
    background-size: cover;
    margin-left: 10px;
  }
  
  .message {
    padding: 10px;
    border: 1px solid hsl(0, 0%, 80%);
    border-radius: 5px;
    overflow-wrap: break-word;
  }
  
  .bot .message {
    background-color: hsl(120, 100%, 95%);
  }
  
  .user .message {
    background-color: hsl(192, 91%, 95%);
  }
  

  /* inputs */
  .input-group {
    width: 100%;
  }
  
  .params-icons {
    background-color: #00000020;
    width: 3em;
    border: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    fill: rgb(171, 171, 171);
    border-radius: 10px;
    &:hover {
      fill: rgb(133, 133, 133);
      transition: 0.2s ease-in-out;
    }
    &:active {
      background-color: #00000036;
      padding-bottom: 7px;
    }
  }

  /* logo */
  .gouvx-logo {
    font-family: marriane;
    text-transform: uppercase;
    text-align: center;
    font-size: 2.5em;
    color: #002654;
    text-decoration: none;
  }
  
  .gouvx-logo red{
      color: #ED2939;
  }
  
  .gouvx-logo blue{
    color: #0000ff;
  }

  @font-face {
    font-family: marriane;
    src: url(fonts/Marianne-Bold.woff);
    font-weight: bold;
  }