  /* Set the body and html to height 100% to allow our container to be full height */
  html, body {
    height: 100%;
    margin: 0;
    padding: 0;
  }

  /* loading animation */
  @keyframes spin {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
  
  .loading {
    border: 4px solid #eeeeee;
    border-top: 4px solid hsl(120, 100%, 30%);
    border-radius: 50%;
    width: 20px;
    height: 20px;
    animation: spin 2s linear infinite;
    visibility: hidden;
  }
  
  .loading.display {
    visibility: visible;
  }
  

  /* Set our container to display flex which will help in alignment */
  .full-screen-container {
    display: flex;
    flex-direction: column;
    height: 100%;
  }

  /* Header and footer */
  header, footer {
    text-align: center;
  }

  footer {
    border-top: solid 1px rgba(0, 0, 0, 0.2);
    font-size: 0.8em;
    height: 2em;
  }

  /* info box */
  .info-box {
    text-align: center;
    width: 100%;
    font-size: 0.8em;
  }

  /* main content */
  .content {
    flex: 1; /* Flex value 1 will make it take the available space between header and footer */
    overflow-y: auto; /* Adds scroll to the content div if content overflows */
    padding: 10px;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
  }

  .chat-container {
    height: 100%;
    padding-bottom: 55px;
    max-width: 550px;
  }

  /* browser */
  .browser-container {
    visibility: hidden;
    
    opacity: 0; /* Initial opacity for animation */
    width: 0; /* Initial height for animation */
    transition: opacity 0.2s ease-in-out, width 0.2s ease-in-out;
  }
  
  .browser-container.visible {
    visibility: visible;

    position: relative;
    border: 1px solid #bbb;
    border-radius: 9px;
    overflow: clip;
    margin-left: 25px;
    opacity: 1;
    height: 100%;
    width: 65%;
  }

  .browser-container iframe {
    width: 100%;
    height: 100%;
  }

  .highlight-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: repeating-linear-gradient(
      45deg,
      #fff5,
      #fff5 10px,
      #ddd5 10px,
      #ddd5 20px
    );
    pointer-events: none; /* Allow interaction with the content below */
    z-index: 1; /* Ensure overlay is on top */
  }

  .share-button {
    position: absolute;
    top: 0;
    right: 0;
    background-color: #fff;
    padding: 6px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 2;
    width: 40px;
    height: 40px;
  }

  .share-button i {
    font-size: 16px;
    color: #555;
  }

  /* chat box */
  .chat-box {
    display: flex;
    flex-direction: column-reverse;
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 10px;
    height: 100%;
    overflow-y: auto;
    border-radius: 10px;
  }
  
  /* messages */
  .message-box .bot,.user {
    display: flex;
    margin-bottom: 10px;
  }

  .message-box.bot {
    align-self: flex-start;
  }
  
  .message-box.user {
    align-self: flex-end;
  }
  
  .message-box .sources {
    font-size: 0.7em;
    margin-left: 40px;
    margin-bottom: 1em;
  }

  .message-box .sources span {
    color: #5a9afd;
    text-decoration: underline; /* Example link underline */
    padding: 5px; /* Example padding */
    transition: color 0.3s ease; /* Example transition for smooth color change */
  }
  
  .message-box .sources span:hover {
    cursor: pointer;
    color: #3f6caf; /* Example hover color */
  }
  
  /* profile pictures */
  .profile-pic {
    margin-top: 10px;
    width: 30px;
    height: 30px;
    min-width: 30px;
    min-height: 30px;
    border-radius: 100%;
  }
  
  .bot .profile-pic {
    background-image: url('favicon.png');
    background-size: cover;
    margin-right: 10px;
  }
  
  .user .profile-pic {
    background-color: #5c9ee4; /* change color as needed */
    background-size: cover;
    margin-left: 10px;
  }
  
  .message {
    padding: 10px;
    border: 1px solid hsl(0, 0%, 80%);
    border-radius: 5px;
    overflow-wrap: break-word;
  }
  
  .bot .message {
    background-color: hsl(120, 100%, 98%);
  }
  
  .user .message {
    background-color: hsl(193, 100%, 97%);
  }
  

  /* inputs */
  .input-group {
    width: 100%;
  }
  
  .params-icons {
    background-color: #00000020;
    width: 3em;
    border: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    fill: rgb(171, 171, 171);
    border-radius: 10px;
    &:hover {
      fill: rgb(133, 133, 133);
      transition: 0.2s ease-in-out;
    }
    &:active {
      background-color: #00000036;
      padding-bottom: 7px;
    }
  }

  /* logo */
  .gouvx-logo {
    font-family: marriane;
    text-transform: uppercase;
    text-align: center;
    font-size: 1.3em;
    color: #002654;
    text-decoration: none;
  }
  
  .gouvx-logo red{
      color: #ED2939;
  }
  
  .gouvx-logo blue{
    color: #0000ff;
  }

  @font-face {
    font-family: marriane;
    src: url(fonts/Marianne-Bold.woff);
    font-weight: bold;
  }

  /* params */
  .params {
    width: 500px;
  }

  /* suggestions */
  .suggestions {
    margin: 15px 35px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .suggestions div {
    background-color: rgb(247, 247, 247);
    padding: 10px 5px;
    border: 1px rgb(211, 211, 211) solid;
    width: 129px;
    text-align: center;
    font-size: 0.8em;
    border-radius: 10px;
    transition: background-color 0.1s ease-in-out,
  }

  .suggestions div:hover {
    cursor: pointer;
    background-color: rgb(240, 240, 240);
  }